<div class="container">
    <p class="lead">{{msg 'title.portal.welcome'}}</p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="panel-title">{{msg 'title.translation.requests.lingua'}}</p>
        </div>
        <div class="panel-body">
        	<div class="col-md-6 pull-left">
            	<section class="panel-body col-md-12">
            		<p><strong>{{msg 'page.choose.option'}}</strong></p>
            		<div class="info-list-100">
            		<ul>
            	    	<li>{{msg 'li.lingua.tr.1'}}</li>
            	    	<li>{{msg 'li.lingua.tr.2'}}</li>
            	    	<li>{{msg 'li.lingua.tr.3'}}</li>
            		</ul>
            		</div>
            		<button type="button" class="btn btn-default center-block translation-request-btn" data-action="tr-lingua-create">{{msg 'btn.create.tr'}}<i class="icon-chevron-right" aria-hidden="true"></i></button>
            	</section>
            </div>
        	<div class="col-md-6 pull-left">
            	<section class="panel-body col-md-12">
            		<p><strong>{{msg 'page.choose.option'}}</strong></p>
            		<div class="info-list-100">
            		<ul>
            	    	<li>{{msg 'li.lingua.tr.view.1'}}</li>
            	    	<li>{{msg 'li.lingua.tr.view.2'}}</li>
            	    	<li>{{msg 'li.lingua.tr.view.3'}}</li>
            		</ul>
            		</div>
            		<button type="button" class="btn btn-default center-block translation-request-btn" data-action="tr-lingua-view">{{msg 'btn.view.tr'}}<i class="icon-chevron-right" aria-hidden="true"></i></button>
            	</section>
            </div>
        </div>
    </div>
	
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="panel-title">{{msg 'title.translation.requests'}}</p>
        </div>
        <div class="panel-body">
        	<div class="col-md-6 pull-left">
            	<section class="panel-body col-md-14">
            		<p><strong>{{msg 'page.choose.option'}}</strong></p>
            		<div class="info-list-80">
            		<ul>
            	    	<li>{{msg 'li.non.lingua.tr.1'}}</li>
            	    	<li>{{msg 'li.non.lingua.tr.2'}}</li>
            		</ul>
            		</div>
            		<button type="button" class="btn btn-default center-block translation-request-btn" data-action="tr-create">{{msg 'btn.create.tr'}}<i class="icon-chevron-right" aria-hidden="true"></i></button>
            	</section>
            </div>
            <div class="col-md-6 pull-left">
            	<section class="panel-body col-md-14">
            		<p>{{msg 'page.choose.option'}}</p>
            		<div class="info-list-80">
            		<ul>
            	    	<li>{{msg 'li.non.lingua.tr.view.1'}}</li>
            	    	<li>{{msg 'li.non.lingua.tr.view.2'}}</li>
            		</ul>
            		</div>
            		<button type="button" class="btn btn-default center-block translation-request-btn" data-action="tr-view">{{msg 'btn.view.tr'}}<i class="icon-chevron-right" aria-hidden="true"></i></button>
            	</section>
            </div>
        </div>
    </div>
</div>
